* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#main {
    border: 2px solid #bebebe;
    width: 25%;
    padding:10px;
    margin: 0 auto;
}

#tclink, #tcMedia {
    text-align: center;
    
    padding: 7px;
    border: 2px solid #555;
    display: none;
    margin: 2px;
}


#tcid {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

#submit {
    display:block;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    padding: 7px;
}
.link, #medialink {
    text-decoration: none;
    border-radius: 4px; 
    padding:10px 0px;
    color: blue; 
    width: 100%;
    display: block;
    font-size: 24px;
    margin:5px 0px;
    background-color: grey;
}
#header{
    text-align: center;
    color:red;
}
